@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
.titillium-web-semibold {
  font-family: "Titillium Web", sans-serif;
  font-weight: 600;
  font-style: normal;
}

body{
  margin: 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../Images/images.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed; 
  background-size: 20% 30%;

}

.inputBox{
  height: 48px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;

}
.inputButton{
  border: none;
  background:#040454 ;
  color: white;
  padding: 12px 20px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.logo{
  background-image: url(../Images/images.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: left;
  height: 100px;
  width : 100px;
  background-size: 100% 100%; 
}

.custom-nav-link {
  color: #f58634 !important; 
}

#signOutButton{
  color: #040454 !important;
  border-color: #040454 !important;
  
}
#signOutButton:hover{
  background-color: rgb(4, 4, 84 , 0.5) ;
}

.designation{
  height: 40px;
  color: black;
  font-size: 20px;
  margin-bottom: 1px;
}
.head{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.welcome{
  margin-right:30px;
  font-size: 20px;
}

.equipment{
  display:flex;
  flex-direction: column;
  margin: 10px 0 10px 140px;
  font-family: Titillium Web;
}

.equipment label{
  margin:10px 10px 0px 0px;
}

.equipment label select{
  padding-left:7px;
  border-radius: 13px;
  margin-left: 7px;
  height: 30px;
  width: 140px;
  border-color: rgb(241, 239, 239);
  background-color: rgb(241, 239, 239);
}

.details{
  margin-left: 116px;
}
.details label{
  margin-left: 25px;
}

.details input {
  padding-left: 7px;
  border-radius: 13px;
  margin-left: 7px;
  height: 30px;
  border: 1px solid rgb(241, 239, 239); 
  background-color: rgb(241, 239, 239);
}
.surgery-type-box{
  width: 250px;
}

.but{
  background-color: #f48635;
  color: white;
  border-radius: 11px;
  height: 36px;
  width: 86px;
  border-color: #f48635;
  margin-left: 200px;
}
.but:hover{
  background-color: rgb(244, 134, 53 , 0.5);
  border-color: #f48635;


}