body{
  margin: 0;
}
.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

}
.mainContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url(../Images/images.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed; 
  background-size: 20% 30%;

}

.inputBox{
  height: 48px;
  width: 300px;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;

}
.inputButton{
  border: none;
  background: cornflowerblue;
  color: white;
  padding: 12px 20px;
  margin: 8px;
  font-size: 16px;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer
}
.header{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  color: black;
  font-size: 50px;
  font-weight: bold;
}
.logo{
  background-image: url(../Images/images.png);
  background-repeat: no-repeat;
  background-color: black;
  background-position: left;

  height: 100px;
  width : 100px;
  background-size: 100% 100%; 

}
.designation{
 
  height: 40px;
  color: black;
  font-size: 20px;

  margin-bottom: 1px;
}.equipment{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-top: 16px;

}
.but{
  margin-top: 30px;
  margin-left: 90vh;
  

}